<%= turbo_frame_tag 'room_form' do %>
  <section class="w-60 flex flex-col items-center text-center mb-5 px-3 py=1 ">
    <h3 class="text-xs font-semibold py-2">Start a new conversation?</h3>
    <%= link_to 'Create Room', new_room_path, id: 'new_room_path', class: 'px-3 py-1 bg-green-200 font-semibold text-xs' %>
  </section>
<% end %>