<%= turbo_stream_from 'users_rooms_channel' %>
<%= turbo_stream_from 'update_room_details' %>
<nav class="w-60 flex flex-col items-center justify-between border border-blue-500">
  <!-- Render "My Rooms" section at the top -->
  <%= render "shared/user_rooms" %>
  <%= render 'shared/create_room' %>
</nav>