<section class="flex flex-col gap-2 mt-10 items-center justify-center" >
  <div class="flex flex-col">
    <h3 class="font-bold text-3xl"><%= room.name %> - Room </h3>
    <span class="font-semibold">Users In This Room:</span>
  </div>
</section>