<%= turbo_frame_tag 'rooms_controller' do %>
  <main class="bg-indigo-100 flex w-full h-screen" >
    <%= render "shared/side_bar" %>
    
    <section class="flex flex-col items-center justify-center gap-5 h-screen w-full">
        <h1 class="font-bold text-2xl text-blue-600 dark:text-sky-400">Chat App - Ruby on Rails 8</h1>
        <p class="text-blue-600 dark:text-sky-400">This is the chat app with RoR</p>
      </section>

  </main>
<% end %>
      